<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="refresh" content="60"/>
    <title>吴兴农商银行外汇牌价系统</title>
</head>
<body>
<div style="position: relative;" align="center"  >
    <img src="img/slogo.jpg">
    <h3 style="color: red; position: absolute; left: 75%; top: 30%; font-family: 黑体;" th:text="${updateTime}"></h3>
</div>
<div align="center">
    <table style="width: 100%; border: 0px; border-spacing: 50px; background: black">
        <tr>
            <th style="font-size : 25px; font-weight: bold; color: white; font-family: 黑体">币种</th>
            <th style="font-size : 25px; font-weight: bold; color: white; font-family: 黑体">汇买价</th>
            <th style="font-size : 25px; font-weight: bold; color: white; font-family: 黑体">钞买价</th>
            <th style="font-size : 25px; font-weight: bold; color: white; font-family: 黑体">卖出价</th>
            <th style="font-size : 25px; font-weight: bold; color: white; font-family: 黑体">中间价</th>
        </tr>
        <tr th:each=" price,priceStat : ${priceList}">
            <td th:if = "${priceStat.index} % 2 eq '0'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: red" th:text="${price.currencyCName}+'['+${price.currency}+']'"></td>
            <td th:if = "${priceStat.index} % 2 eq '1'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: yellow" th:text="${price.currencyCName}+'['+${price.currency}+']'"></td>

            <td th:if = "${priceStat.index} % 2 eq '0'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: red" th:text="${price.exchangePurchasePrice}"></td>
            <td th:if = "${priceStat.index} % 2 eq '1'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: yellow" th:text="${price.exchangePurchasePrice}"></td>

            <td th:if = "${priceStat.index} % 2 eq '0'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: red" th:text="${price.cashPurchasePrice}"></td>
            <td th:if = "${priceStat.index} % 2 eq '1'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: yellow" th:text="${price.cashPurchasePrice}"></td>

            <td th:if = "${priceStat.index} % 2 eq '0'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: red" th:text="${price.salePrice}"></td>
            <td th:if = "${priceStat.index} % 2 eq '1'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: yellow" th:text="${price.salePrice}"></td>

            <td th:if = "${priceStat.index} % 2 eq '0'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: red" th:text="${price.middlePrice}"></td>
            <td th:if = "${priceStat.index} % 2 eq '1'" align="center" style="font-size : 25px; font-family: 黑体; font-weight: bold; color: yellow" th:text="${price.middlePrice}"></td>
        </tr>
    </table>
</div>
</body>
</html>
<script th:inline="javascript">
    var message = [[${title}]];
    console.log(message);
</script>
