<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wux.rcb.elf.biz.dao.DataConvertRuleDetailDoMapper">
  <resultMap id="BaseResultMap" type="com.wux.rcb.elf.biz.model.DataConvertRuleDetailDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="biz_field_name" jdbcType="VARCHAR" property="bizFieldName" />
    <result column="db_field_name" jdbcType="VARCHAR" property="dbFieldName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rule_id, biz_field_name, db_field_name, create_time, modify_time, creator, modifier
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_convert_rule_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getDetailsByRuleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from data_convert_rule_detail
    where rule_id = #{ruleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from data_convert_rule_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wux.rcb.elf.biz.model.DataConvertRuleDetailDo">
    insert into data_convert_rule_detail (id, rule_id, biz_field_name, 
      db_field_name, create_time, modify_time, 
      creator, modifier)
    values (#{id,jdbcType=BIGINT}, #{ruleId,jdbcType=BIGINT}, #{bizFieldName,jdbcType=VARCHAR}, 
      #{dbFieldName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wux.rcb.elf.biz.model.DataConvertRuleDetailDo">
    insert into data_convert_rule_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="bizFieldName != null">
        biz_field_name,
      </if>
      <if test="dbFieldName != null">
        db_field_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="bizFieldName != null">
        #{bizFieldName,jdbcType=VARCHAR},
      </if>
      <if test="dbFieldName != null">
        #{dbFieldName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wux.rcb.elf.biz.model.DataConvertRuleDetailDo">
    update data_convert_rule_detail
    <set>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=BIGINT},
      </if>
      <if test="bizFieldName != null">
        biz_field_name = #{bizFieldName,jdbcType=VARCHAR},
      </if>
      <if test="dbFieldName != null">
        db_field_name = #{dbFieldName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wux.rcb.elf.biz.model.DataConvertRuleDetailDo">
    update data_convert_rule_detail
    set rule_id = #{ruleId,jdbcType=BIGINT},
      biz_field_name = #{bizFieldName,jdbcType=VARCHAR},
      db_field_name = #{dbFieldName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="saveData">
    insert into ${bizTableName}
    <foreach collection="list" item="data" open="(" close=")" separator=",">
      ${data.name}
    </foreach>
    values
    <foreach collection="list" item="data" open="(" close=")" separator=",">
        <if test="data.dbType == 'String'">
          #{data.value, jdbcType=VARCHAR}
        </if>
        <if test="data.dbType == 'Numeric'">
          #{data.value, jdbcType=NUMERIC}
        </if>
        <if test="data.dbType == 'Date'">
          #{data.value, jdbcType=TIMESTAMP}
        </if>
    </foreach>
  </insert>
</mapper>